/*Псвевдоклассы first-child, nth-child, last-child*/

div:first-child{
    color: red;
}

div:nth-child(2n){
    color: green;
}

div:last-child{
    color: blue;
}

.main > p:hover{
    color: red;
    font-size: 25px;
    margin-bottom:  20px;
}
