*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    line-height: 2;
    background: linear-gradient(90deg, #aea4e3, #d3ffe8);
    color: rgb(31, 32, 41);
    text-align: center;
}

.title{
    text-align: center;
    padding-top: 60px;
    line-height: 1.2;
    margin-bottom: 30px;
}

.title:hover{
    font-size: 40px;
    font-weight: bold;
    color: rgb(37, 44, 161);
}

q {
    display: block;
    color: rgb(74, 76, 95);
    font-size: 17px;
    font-style: italic;
    text-align: center;
}

blockquote {  

    border-top: rgb(127, 141, 160) 4px solid;
    border-bottom: #999 4px solid;
    font-size: 16px;
    color: rgb(74, 76, 95);
    padding: 20px;
    text-align: center;
    margin: 12px 50px 50px 50px;  

}

.table{
    position: center;
    width: 50%;
    border: 1px dotted #000000;
    text-align: left;
    border-collapse: collapse;
    margin: auto;
}

.table th{
    text-align: left;
    padding: 5px 10px;
    border: 1px dotted #000000;
}

.table td {
    padding: 5px 10px;
    border: 1px dotted #000000;
}

.table tfoot td{
    border: 1px dotted #000000;
}


img{
    padding-top: 50px;
    border-radius: 10px;
    display: block;
    margin: 0 auto;
}

.figcaption{
    text-align: center;
    padding-bottom: 50px;
}

.figcaption:hover{
    font-size: 20px;
    font-style: bold;
}

