*{
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial, sans-serif;
    line-height: 2.5;
    background-color: darkgray;
    text-align: center;
}

h1{
    margin-top: 50px;
}


/*Псвеводклассы и псевдоэлементы*/

p:first-child{
    color:purple;
}
p:nth-child(2n){
    color:rgb(23, 23, 170);
    margin-bottom: 20px;
}

.main > p:hover{
    color: rgb(82, 78, 78);
    font-size: 25px;
    font-style: bold;
}

q {
    text-align: center;
}


/*Новый псевдоэлемент*/

q::before {
    content: "«";
    color: blue;
  }
  
  q::after {
    content: "»";
    color: red;
  }


/*Новый псевдокласс*/
.lime-input:focus {
    color: lime;
    margin-bottom: 30px;
  }